{% extends "base/base.html" %}
{% load static %}

{% block content %}


        <section class="page-add" style="margin:0px">
        <div class="container">
            <h3 style="font-family: yekan;text-align: center">
               آموزش ساخت فروشگاه
            </h3>
        <hr style="border: solid 2px #006466;">
        </div>
    </section> 


<div class="container">
          <video width="90%" height="90%"controls style="display: block;margin:auto;margin-top:2%;"  src="{% static 'video/help.mp4'  %}">
         
        </video>
    
</div>

<br>

  
    
{% endblock %}