{% extends "base/base.html" %}
{% block content %}
<br>
    <br>

    <br>
    <br>
<div style="width:60%;margin-left: 20%;">
        <h2 style="font-family: yekan;text-align: center">خارج شدی</h2>
        <hr style="border: solid 2px #006466;">
      <div class="pt-3">
        <small class="text-muted" style="font-family: yekan;font-size: 16px">میخوای وارد بشی؟
            <a class="ml-2" href="{% url 'register' %}" style="font-size: 16px;font-family: yekan">
            ورود
          </a>
        </small>
      </div>
</div>



{% endblock content %}

