{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
{% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-6 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <!-- <div class="card-img-left d-none d-md-flex">
            <img src="../../static/img/register.jpg">
          </div> -->
          <div class="card-body p-6 p-sm-5" style="margin-left: 20px">
     
            <h4 class="" style="font-family: yekan;font-size: 24px;text-align: center;font-weight: 800;">ورود | ثبت نام</h4>
            <hr style="border: solid 2px #FF4742;">
            <form method="POST">
                  {% csrf_token %}

              <div class="form-floating mb-3"style="text-align: right">

                <label style="text-align: right;font-family: vazir">شماره ی تلفن</label>
                          <br>
                  <br>
                           {{ form.mobile }}
              </div>

              <hr>

              <div class="form-group">
    
          <button class="button-24" type="submit" style="font-family: yekan;width: 80%;margin-left: 10%;
          ">
            ورود
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </button>
        </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<style>

    /* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: linear-gradient(80deg, #ffffff 50%, #ffffff 50%);

}


input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ECEFF1
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}


@media screen and (max-width: 991px) {
    .card1 {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px
    }

    .card2 {
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px
    }
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */

  background-size: cover;
}

</style>

{% endblock content %}
