{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

 <div class="hero-image" >
         <br>
             <br>
                 <br>
                      <br>
  <div style="text-align:center">
  
                        {% if shop.verified %}
                            <svg xmlns="http://www.w3.org/2000/svg" style="color: cornflowerblue;margin-bottom:10px" width="35px" height="35px" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                            </svg>
                            <i class="fa-solid fa-badge-check"></i>
                        {% endif %}
                            {% for x in shop.stars %}
                            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="40" height="40" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                
                            {% endfor %}


                         {% for x in shop.stars_left %}
                         <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="40" height="40" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                          </svg>
                          

                            {% endfor %}
                            <div class="container">
                                <hr style="border: solid 2px #f77f00;">
                                <h2 style="font-family: yekan;color:white">{{ shop.head_title }}</h2>
                            <br>
                                <h4 style="font-family: vazir;color: wheat;font-size:20px">{{ shop.head_description }}</h4>
                               <br>
                            </div>
                         
                         <a href="{{ shop.head_link }}" style="font-family: vazir;" class="btn btn-warning">دنبال کن</a>
                         <br>
                         
                       
                            
  </div>
</div> 

<br>

    <section class="features-section spad" style="padding:0px">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first" style="margin:35px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" style="color:grey" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0zM4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                              </svg>
                            <h4 style="font-family:yekan">{{ shop.why_us1 }}</h4>
                         
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second" style="margin:35px">
                            <svg xmlns="http://www.w3.org/2000/svg"  width="70" height="70" style="color:grey" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                              </svg>
                            <h4 style="font-family:yekan">{{ shop.why_us2 }} </h4>
                         
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads" style="margin:35px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" style="color:grey" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
                                <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
                                <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
                              </svg>
                            <h4 style="font-family:yekan">{{ shop.why_us3 }}</h4>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </section>
       
       


{% if image_banner1 or image_banner2 or image_banner3 %}
    <section class="features-section spad" style="padding:0px">
<div class="container"  >
    <div class="row g-3 mt-5 mb-5">
        <div class="col-md-4" style="margin-top: 3%;margin-bottom: 3%;">
            <div class="card">
                {% if image_banner1 %}
                <div > <img src="{{ shop.image_banner1.url }}"  style="border-radius:15px" alt="..."> </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 3%;margin-bottom: 3%;">
            <div class="card">
                 {% if image_banner1 %}
                <div> <img src="{{ shop.image_banner2.url }}"  style="border-radius:15px" alt="..."> </div>
                  {% endif %}
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 3%;margin-bottom: 3%;">
            <div class="card">
                {% if image_banner1 %}
                <div > <img src="{{ shop.image_banner3.url }}" style="border-radius:15px" alt="..."> </div>
               {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
 
    </section>
 
 

    
 
 

    {% if products %}
    
<section class="page-add" style="margin-bottom:0px">
    <div class="container">
        <h3 style="font-family:yekan;text-align: right;float: right;"> آخرین محصولات</h3>
        <a href="{% url 'all_products' shop.slug %}" style="float: left;">
            <button class="btn btn-outline-info" type="submit"  style="font-family: yekan;font-size: 16px" name="action" value="add_cart">
                    تمام کالاهای این فروشگاه

            </button>
        </a>
        <br>
        <hr style="border: solid 2px #006466;">
    </div>
 
               
 
        </div>
    </section>
    <!--background-image: url({% static 'img/purple.png' %});-->
   <div class="logo-section spad" style="padding-top: 0px;">
        <div class="logo-items owl-carousel">

 {% for x in products %}
                   
                        
                        <div class="card">
                            
                            <a class="img-card" href="{% url 'product-details' shop.slug x.pk %}">
                            <div id="yourContainer">
                            <img src="{{ x.photo.url }}" style="border-radius:15px;width:90%;height:90%;margin:5%" />
                            </div>
                                <div class="top-left" style="background-color:red;border-radius:15px;padding:1%;color:white">{{ x.persian_off }}%</div>
                                     <div class="top-right" style="background-color:white;border-radius:15px;padding:1%;color:white">
                                          {% for z in x.stars %}
                                  <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            {% endfor %}


                         {% for z in x.stars_left %}
                                <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>

                            {% endfor %}


   {% if x.verified %}
                                            <svg style="color: cornflowerblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
{% endif %}

                                     </div>
                          </a>
                        <div class="product-text">
                            <h6 style="font-family: vazir;text-align:right;margin-right: 5%;font-size: 20px;">{{ x.name }}</h6>
                            <del style="color: grey;font-family: vazir;text-align:left;margin-left: 5%;font-size: 14px;">{{ x.price_comma }}تومان</del>
                            <p style="color: green;font-family: vazir;text-align:left;font-size:18px;font-weight: 700;margin-bottom:0px;margin-left: 5%;">{{ x.last_comma }}تومان</p>
                        </div>
                         
                    </div>
             
 {% endfor %}
                
        </div>
    </div>

    {% endif %}



{% if off %}
<section class="page-add" style="margin-bottom:0px">
        <div class="container">
            <h3 style="font-family: yekan;text-align: right">
            کالاهای پر تخفیف
            </h3>
            <hr style="border: solid 2px #006466;">
        </div>
    </section>

<div class="logo-section spad" style="padding-top: 0px;">
        <div class="logo-items owl-carousel">

 {% for x in off %}
                   
                        
                        <div class="card">
                            
                            <a class="img-card" href="{% url 'product-details' shop.slug x.pk %}">
                                            <div id="yourContainer">
                            <img src="{{ x.photo.url }}" style="border-radius:15px;width:90%;height:90%;margin:5%" />
                            </div>
                                <div class="top-left" style="background-color:red;border-radius:15px;padding:1%;color:white">{{ x.persian_off }}%</div>
                                     <div class="top-right" style="background-color:white;border-radius:15px;padding:1%;color:white">
                                          {% for z in x.stars %}
                                  <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                            {% endfor %}


                         {% for z in x.stars_left %}
            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>

                            {% endfor %}


   {% if x.verified %}
                                            <svg style="color: cornflowerblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
{% endif %}

                                     </div>
                          </a>
                    <div class="product-text">
                        <h6 style="font-family: vazir;text-align:right;margin-right: 5%;font-size: 20px;">{{ x.name }}</h6>
                        <del style="color: grey;font-family: vazir;text-align:left;margin-left: 5%;font-size: 14px;">{{ x.price_comma }}تومان</del>
                        <p style="color: green;font-family: vazir;text-align:left;font-size:18px;font-weight: 700;margin-bottom:0px;margin-left: 5%;">{{ x.last_comma }}تومان</p>
                    </div>
                         
                </div>
             
 {% endfor %}
                
        </div>
    </div>



{% endif %}
<br>
<br>

{% if image_look or shop.title_look or shop.description_look %}
<section class="lookbok-section">
        <div class="container-fluid">
        
            <div class="row" style="background-image:  url({% static 'img/part.jpg' %});">
                      <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic" style="width:70%;margin-left:15%">
            <br>
            <br>
                        {% if shop.image_look %}
                        <img  style="border-radius:15px" src="{{ shop.image_look.url }}" alt="" >
                        {% endif %}
            <br>
            <br>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2 style="text-align: right;font-family:yekan;color:white;font-size: 40px;">{{ shop.title_look }} </h2>
                        </div>
                        <p style="text-align: right;font-family:vazir;font-size:18px;color:wheat">{{ shop.description_look }}</p>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endif %}

{% if rare %}
<section class="page-add" style="margin-bottom:0px">
        <div class="container">
            <h3 style="font-family: yekan;text-align: right">
            کالاهای ویژه
            </h3>
            <hr style="border: solid 2px #006466;">
        </div>
    </section>

<div class="logo-section spad" style="padding-top: 0px;">
        <div class="logo-items owl-carousel">

 {% for x in rare %}
                   
                        <div class="card">
                            
                            <a class="img-card" href="{% url 'product-details' shop.slug x.pk %}">
                                            <div id="yourContainer">
                            <img src="{{ x.photo.url }}" style="border-radius:15px;width:90%;height:90%;margin:5%" />
                            </div>
                                <div class="top-left" style="background-color:red;border-radius:15px;padding:1%;color:white">{{ x.persian_off }}%</div>
                                     <div class="top-right" style="background-color:white;border-radius:15px;padding:1%;color:white">
                                          {% for z in x.stars %}
                                  <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
</svg>
                            {% endfor %}


                         {% for z in x.stars_left %}
            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>

                            {% endfor %}


   {% if x.verified %}
                                            <svg style="color: cornflowerblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
{% endif %}

                                     </div>
                          </a>
                <div class="product-text">
                    <h6 style="font-family: vazir;text-align:right;margin-right: 5%;font-size: 20px;">{{ x.name }}</h6>
                    <del style="color: grey;font-family: vazir;text-align:left;margin-left: 5%;font-size: 14px;">{{ x.price_comma }}تومان</del>
                    <p style="color: green;font-family: vazir;text-align:left;font-size:18px;font-weight: 700;margin-bottom:0px;margin-left: 5%;">{{ x.last_comma }}تومان</p>
                        </div>
                        
                        </div>
             
 {% endfor %}
                
        </div>
    </div>


{% endif %}


{% if hot %}

<section class="page-add" style="margin-bottom:0px">
        <div class="container">
            <h3 style="font-family: yekan;text-align: right">
            کالاهای داغ
            </h3>
            <hr style="border: solid 2px #006466;">
        </div>
    </section>


<div class="logo-section spad" style="padding-top: 0px;">
        <div class="logo-items owl-carousel">

 {% for x in hot %}
                   
                        <div class="card">
                            
                            <a class="img-card" href="{% url 'product-details' shop.slug x.pk %}">
                                            <div id="yourContainer">
                            <img src="{{ x.photo.url }}" style="border-radius:15px;width:90%;height:90%;margin:5%" />
                            </div>
                                <div class="top-left" style="background-color:red;border-radius:15px;padding:1%;color:white">{{ x.persian_off }}%</div>
                                     <div class="top-right" style="background-color:white;border-radius:15px;padding:1%;color:white">
                            {% for z in x.stars %}
                                  <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                            {% endfor %}


                         {% for z in x.stars_left %}
                            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>

                            {% endfor %}


   {% if x.verified %}
                                            <svg style="color: cornflowerblue" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                        </svg>
{% endif %}

                                     </div>
                          </a>
                    <div class="product-text">
                                <h6 style="font-family: vazir;text-align:right;margin-right: 5%;font-size: 20px;">{{ x.name }}</h6>
                                <del style="color: grey;font-family: vazir;text-align:left;margin-left: 5%;font-size: 14px;">{{ x.price_comma }}تومان</del>
                                <p style="color: green;font-family: vazir;text-align:left;font-size:18px;font-weight: 700;margin-bottom:0px;margin-left: 5%;">{{ x.last_comma }}تومان</p>
                        </div>
                         
                    </div>
             
 {% endfor %}
                
        </div>
    </div>


{% endif %}

<br>
<br>

    <div class="contact-section" style="background-image:  url({% static 'img/part.jpg' %});">
        <div class="container">
                            <section class="page-add">
        <div class="container">
            <h3 style="font-family: yekan;text-align: center;color:white">
            درباره ی ما
            </h3>

            <hr style="border: solid 2px #006466;">
        </div>
    </section>
    
            <div class="row">


                <div class="col-lg-3 offset-lg-1">
                    <div class="contact-widget">
                        {% if shop.address_bool %}
                                 <div class="cw-item" style="text-align: center;font-family: vazir" >
                            <h5 style="font-family: yekan;text-align: center;;color:white">آدرس ما</h5>
                            <ul>
                              
                                <li style="color:wheat">  {{shop.address }}</li>

                            </ul>
                        </div>
                        {% endif %}
                           {% if shop.phone_bool %}
                                <div class="cw-item" style="text-align: center">
                            <h5 style="font-family: yekan;text-align: center;color:white">تلفن</h5>
                            <ul>
                          <li style="color:wheat">  {{shop.phone }}</li>

                            </ul>
                        </div>
                     {% endif %}
                    </div>
                </div>
                     <div class="col-lg-8">
                    <p style="font-family: vazir;text-align: right;color:white;font-size:18px">
                       {{ shop.about }}
                    </p>
                </div>
            </div>
         
        </div>
    </div>

{% if comments %}
<br>

      
       <div class="container">
        <h3 style="font-family: yekan;text-align: center">
        نظرات شما
        <hr style="border: solid 2px #006466;">
    </h3>
       </div>
        

<div class="container mt-6 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12">

            <div class="coment-bottom bg-white p-2 px-4" style="border-radius:10px">

    {% for comment in comments %}
                     <div class="commented-section mt-2">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5>{{ comment.feedbacker.hide_mobile }} </h5>
                        <h4>|</h4>
                       <span style="font-size: 16px;font-family: vazir;color:black" class="mb-1 ml-2">{{ comment.jpublish }}</span>
                          <h4>|</h4>
                             {% for i in comment.stars %}

                             <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="20" height="20" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>

                         {% endfor %}

                          {% for i in comment.stars_left %}
                            <svg xmlns="http://www.w3.org/2000/svg" color="#F0A500" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>

                         {% endfor %}
                    </div>
                    <div class="comment-text-sm" style="text-align: right;font-family: vazir;font-size: 16px;color:black">
                        {{ comment.content }}
                    </div>


                </div>
                    <hr>
            {% endfor %}



            </div>
        </div>
    </div>
</div>
        {% else %}
        <p style="font-family: vazir;text-align:center">
            <!--فعلا کامنتی نداریم :(-->
        </p>
        {% endif %}


{% if add_comment %}

<div class="container contact-form">
      
            <form method="post" style="direction:rtl">
                {% csrf_token %}
                <h3 style="font-family: yekan;text-align: center">ثبت نظر</h3>
                <hr style="border: solid 2px #006466;">
                    <div class="form-floating mb-3"style="text-align: right">
                            {{ form.grade }}
                        </div>

             <div class="form-floating mb-3"style="text-align: right;font-family: vazir">
                                {{ form.content }}

                </div>
                  <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact btn-outline-success" style="font-family:yekan;width:20%" value="ارسال" />
                  </div>

            </form>
</div>
{% endif %}
    <!-- Logo Section End -->
<style>

#yourContainer {
    /*width: 500px;*/
    height: 250px;
}

#yourContainer img {
    max-width: 100%;
    max-height: 100%;
}


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ shop.image_head1.url }}");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-caption {
    background-color: rgb(0 0 0 / 46%);
    text-align: left;
    padding: 25px;
    border-radius: 10px;
}
ol.carousel-indicators {
    display: block;
    left: auto;
    bottom: 50px;
    right: 15px;
}
.carousel-indicators li {
    height: 5px;
    background-color: #ffeb3b;
    opacity: .6;
}


.card {
    border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: #fff
}

.image-card {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image-card-1 {
    background-color: #18A4F7
}

.image-card-2 {
    background-color: #00D7D2
}

.image-card-3 {
    background-color: #FF75A0
}

.image-card img {
    height: 150px;
    width: 150px;
    object-fit: cover
}

.card-text {
    font-size: 13px
}

.card-body a {
    font-size: 12px
}

.about span {
    font-size: 12px
}


.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  font-family: vazir;
  position: absolute;
  bottom: 8px;
  left: 10px;
}

/* Top left text */
.top-left {
  font-family: vazir;
  position: absolute;
  top: 8px;
  left: 10px;
}

/* Top right text */
.top-right {
  font-family: vazir;
  position: absolute;
  top: 8px;
  right: 10px;
}

/* Bottom right text */
.bottom-right {
  font-family: vazir;
  position: absolute;
  bottom: 8px;
  right: 10px;
}

/* Centered text */
.centered {
  font-family: vazir;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #ECEFF1
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #f77f00;
}

#hero .btn-get-started:hover {
  background: #ED5107;
}

</style>
{% endblock %}